.fira-sans-condensed-light {
	font-family: "Fira Sans Condensed", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.fira-sans-condensed-medium {
	font-family: "Fira Sans Condensed", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.yantramanav-light {
	font-family: "Yantramanav", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.yantramanav-medium {
	font-family: "Yantramanav", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.oxygen-bold {
	font-family: "Oxygen", sans-serif;
	font-weight: 700;
	font-style: normal;
}
