/* colors */
/* Used on modal and mobile menu */
/* Used on input and download button  */
* {
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
button {
  background: transparent;
  border: 0;
  cursor: pointer;
  width: fit-content;
}
input:not(#lang-box),
button:not(.footer-btn),
.chrome-store {
  transition: box-shadow 700ms;
}
input:not(#lang-box):focus,
button:not(.footer-btn):focus,
.chrome-store:focus,
input:not(#lang-box):hover,
button:not(.footer-btn):hover,
.chrome-store:hover {
  box-shadow: 0 0 10px 0.5rem rgba(3, 114, 110, 0.6);
  outline: none;
}
a,
button {
  outline: none;
}
h1 {
  max-width: fit-content;
}
ul {
  list-style: none;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
  height: 0;
  opacity: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
body {
  background-color: #000000;
}
section {
  margin: 80px 0;
}
.modal {
  align-items: center;
  background-color: rgba(11, 22, 24, 0.9);
  border-radius: 10px;
  flex-direction: column;
  /* Centers the element and moves it 5% from the top */
  left: 50%;
  min-width: 360px;
  margin-top: 30px;
  padding: 20px;
  position: absolute;
  top: 5%;
  transform: translate(-50%, -5%);
}
.close {
  height: auto;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
}
/* Header and mobile nav */
header {
  min-height: 80px;
  position: relative;
}
header .container {
  align-items: start;
  padding-top: 15px;
  padding-bottom: 25px;
  justify-content: flex-end;
}
header .logo {
  left: 50%;
  position: absolute;
  top: 15%;
  transform: translate(-50%);
}
header .logo img {
  height: 60px;
  width: 60px;
}
.mobile-menu-toggle {
  margin-top: 10px;
}
.mobile-menu-toggle img {
  height: auto;
  width: 45px;
}
.mobile-nav {
  text-align: left;
}
.mobile-nav a {
  display: block;
  transition: font-size 700ms;
  width: 100%;
}
.mobile-nav a:focus {
  font-size: 1.2rem;
}
.mobile-nav .menu {
  padding: 10px;
  width: 100%;
}
.mobile-nav .menu .nav-item {
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, white, transparent);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin-bottom: 30px;
  padding-bottom: 5px;
  position: relative;
  transition: border-image-source 700ms;
  width: 80%;
}
.mobile-nav .menu .nav-item:focus-within {
  border-width: 6px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #03726e, #03726e);
}
.mobile-nav .menu .lang-menu {
  height: 1px;
  width: 1px;
}
.mobile-nav .menu #lang-box {
  appearance: none;
  position: absolute;
}
.mobile-nav .menu #lang-box:focus {
  outline: none;
}
.mobile-nav .menu #lang-box:focus ~ .lang-label {
  font-size: 1.2rem;
  transition: font-size 700ms;
}
.mobile-nav .menu #lang-box:checked ~ .lang-label ~ .lang-menu {
  align-items: center;
  height: auto;
  gap: 10px;
  margin-left: auto;
  padding: 10px;
  transition: all 1s ease 0s;
  width: fit-content;
}
.mobile-nav .menu #lang-box:checked ~ .lang-label ~ .lang-menu .lang {
  width: 40px;
}
.mobile-nav .menu .lang-label {
  cursor: pointer;
}
.mobile-nav .menu .lang-label img {
  margin-left: auto;
}
/* Modals */
#error-modal {
  padding: 40px;
  text-align: center;
}
#error-modal .warning-img {
  height: 60px;
  width: 60px;
  margin-bottom: 5px;
}
#error-modal .error-header {
  margin-bottom: 15px;
}
/* Hero */
.hero {
  /* When there is text inside, the label goes up */
}
.hero h2 {
  font-size: 2.5rem;
}
.hero .steps {
  margin: 15px 0;
  text-align: left;
}
.hero .input-wrapper {
  background-color: #03726e;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 450px;
  position: relative;
  width: 85%;
}
.hero #url-input {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  height: 100%;
  padding: 15px;
  transition: box-shadow 0.5s;
  width: 100%;
  /* When there is not text in the input, place the label inside */
}
.hero #url-input:placeholder-shown ~ .url-label {
  color: #bbb;
  cursor: text;
  top: 13px;
}
.hero .url-label {
  color: #fff;
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: 0.3s;
  top: -26px;
  width: 100%;
}
.hero .url-btn {
  height: 30px;
  width: 30px;
}
/* Extension */
#extension .image-wrapper {
  background: url(images/backgrounds/extension-mob-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  margin: 80px 0;
  padding: 100px 0;
}
#extension .chrome-store {
  background-color: #03726e;
  border-radius: 10px;
  margin: 0 auto;
  padding: 15px;
  width: fit-content;
}
#extension .laptop-img,
#extension .chrome-img {
  width: 250px;
}
#extension h2 {
  font-size: 2.5rem;
  margin: 50px 0;
}
/* Footer */
#footer .container {
  background-color: rgba(11, 22, 24, 0.9);
  border-radius: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin: 60px auto;
  padding: 25px;
  text-align: left;
  width: 95%;
}
#footer .container .langs-footer {
  text-align: right;
}
#footer .container li {
  padding: 5px;
}
#footer .container li * {
  padding: 5px;
  border-radius: 5px;
  transition: background-color 700ms;
}
#footer .container li *:hover {
  background-color: #03726e;
}
#footer .container button {
  font-family: inherit;
  font-weight: 300;
}
#footer .container a:focus,
#footer .container button:focus {
  background-color: #03726e;
}
#footer .container .nav-footer,
#footer .container .extension-footer {
  margin-top: 10px;
}
