/* colors */

@body-bg-color: rgba(0, 0, 0, 1);

/* Used on the images of the apps and extension section */
@dark-bg-color: #002d29;

/* Used on modal and mobile menu */
@darker-bg-color: rgba(11, 22, 24, 0.9);

/* Used on input and download button  */
@light-bg-color: rgb(3, 114, 110);

@text-color: #fff;

* {
	box-sizing: border-box;
	color: @text-color;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

button {
	background: transparent;
	border: 0;
	cursor: pointer;
	width: fit-content;
}

input:not(#lang-box),
button {
	&:focus {
		box-shadow: 0 0 10px 0.5rem rgba(@light-bg-color, 1);
		outline: none;
	}
}

a {
	outline: none;
}

a:not(.nav-link):focus,
a:not(.nav-link):hover {
	border-bottom: 6px solid @light-bg-color;
	outline: none;
	transition: all 700ms;
	font-size: 1.2rem;
}

h1 {
	max-width: fit-content;
}

ul {
	list-style: none;
}

.flex {
	display: flex;
}

.hidden {
	display: none;
	height: 0;
	opacity: 0;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
}

body {
	background-color: @body-bg-color;
	background-color: @body-bg-color;
}

section,
footer {
	margin: 80px 0;
}

.modal {
	align-items: center;
	background-color: @darker-bg-color;
	border-radius: 10px;
	flex-direction: column;
	/* Centers the element and moves it 5% from the top */
	left: 50%;
	min-width: 360px;
	margin-top: 30px;
	padding: 20px;
	position: absolute;
	top: 5%;
	transform: translate(-50%, -5%);
}

.close {
	height: auto;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
}

/* Header and mobile nav */
header {
	min-height: 80px;
	position: relative;

	.container {
		align-items: start;
		padding-top: 15px;
		padding-bottom: 25px;
		justify-content: flex-end;
	}

	.logo {
		left: 50%;
		position: absolute;
		top: 15%;
		transform: translate(-50%);

		img {
			height: 60px;
			width: 60px;
		}
	}
}

.mobile-menu-toggle {
	margin-top: 10px;
}

.mobile-menu-toggle img {
	height: 40px;
	width: 40px;
}
.mobile-nav {
	text-align: left;
	a {
		display: block;
		transition: font-size 700ms;
		width: 100%;

		&:focus {
			font-size: 1.2rem;
		}
	}

	.menu {
		padding: 10px;
		width: 100%;

		.nav-item {
			border: 4px solid;
			border-image-slice: 1;
			border-image-source: linear-gradient(to right, white, transparent);
			border-left: 0;
			border-right: 0;
			border-top: 0;
			margin-bottom: 30px;
			padding-bottom: 5px;
			position: relative;
			transition: border-image-source 700ms;
			width: 80%;

			&:focus-within {
				border-width: 6px;
				border-image-slice: 1;
				border-image-source: linear-gradient(
					to right,
					@light-bg-color,
					@light-bg-color
				);
			}
		}
		.lang-menu {
			height: 1px;
			width: 1px;
		}

		#lang-box {
			appearance: none;
			position: absolute;
		}

		#lang-box:focus {
			outline: none;
		}

		#lang-box:focus ~ .lang-label {
			font-size: 1.2rem;
			transition: font-size 700ms;
		}

		#lang-box:checked ~ .lang-label ~ .lang-menu {
			align-items: center;
			height: auto;
			gap: 10px;
			margin-left: auto;
			padding: 10px;
			transition: all 1s ease 0s;
			width: fit-content;

			.lang {
				width: 40px;
			}
		}

		.lang-label {
			cursor: pointer;

			img {
				margin-left: auto;
			}
		}
	}
}

/* Modals */
#error-modal {
	padding: 40px;
	text-align: center;

	.warning-img {
		height: 60px;
		width: 60px;
		margin-bottom: 5px;
	}

	.error-header {
		margin-bottom: 15px;
	}
}

/* Hero */

.hero {
	h2 {
		font-size: 2.5rem;
	}

	.steps {
		margin: 15px 0;
		text-align: left;
	}

	.input-wrapper {
		background-color: @light-bg-color;
		border-radius: 50px;
		margin: 0 auto;
		margin-top: 40px;
		max-width: 450px;
		position: relative;
		width: 85%;
	}

	#url-input {
		background-color: transparent;
		border: none;
		border-radius: 50px;
		height: 100%;
		padding: 15px;
		transition: box-shadow 0.5s;
		width: 100%;

		/* When there is not text in the input, place the label inside */
		&:placeholder-shown ~ .url-label {
			color: #bbb;
			cursor: text;
			top: 13px;
		}
	}
	/* When there is text inside, the label goes up */
	.url-label {
		color: #fff;
		display: block;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		transition: 0.3s;
		top: -26px;
		width: 100%;
	}

	.url-btn {
		height: 30px;
		width: 30px;
	}
}

/* Extension */

#extension {
	.image-wrapper {
		background: url(images/backgrounds/extension-mob-bg.svg);
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 5px;
		margin: 80px 0;
		padding: 100px 0;
	}

	.laptop-img,
	.chrome-img {
		width: 300px;
	}

	.chrome-img:hover {
		transform: scale(1.2);
		transition: transform 0.5s;
	}

	h2 {
		font-size: 2.5rem;
		margin: 50px 0;
	}
}

/* Footer */

#footer {
	.container {
		background: url(images/backgrounds/footer-bg.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 100px 0;

		flex-direction: column;
		align-items: center;
		gap: 40px;
	}
}

.card {
	background-color: red;
	height: 200px;
	margin-bottom: 10px;
	width: 250px;
	padding: 0 30px;

	h4 {
		margin-top: 50px;
	}
}

.contact {
	background: url(images/backgrounds/contact-bg.svg);
}

.attributions {
	background: url(images/backgrounds/atr-bg.svg);
}

.contact,
.attributions {
	background-repeat: no-repeat;
	background-size: cover;
}
