/* colors */

@text-color: #fff;
/* Used on input and download button  */
@light-bg-color: #03726e;
/* Used on the images of the apps and extension section */
@dark-bg-color: #002d29;
/* Used on modal and mobile menu */
@darker-bg-color: rgba(11, 22, 24, 0.8);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hidden {
	height: 0;
	opacity: 0;
}
