/* colors */
/* Used on input and download button  */
/* Used on the images of the apps and extension section */
/* Used on modal and mobile menu */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
button {
  background: transparent;
  border: 0;
  cursor: pointer;
  width: fit-content;
}
input:not(#lang-box):focus,
button:focus,
a:focus {
  outline: none;
  box-shadow: 0 0 10px 0.5rem rgba(3, 114, 110, 0.5);
}
h1 {
  max-width: fit-content;
}
ul {
  list-style: none;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
  height: 0;
  opacity: 0;
}
.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
body {
  background-color: rgba(0, 0, 0, 0.97);
}
/* Header and mobile nav */
header {
  position: relative;
  min-height: 80px;
}
header .container {
  padding-top: 15px;
  padding-bottom: 25px;
  align-items: start;
  justify-content: flex-end;
}
header .logo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
}
header .logo img {
  width: 60px;
  height: 60px;
}
.mobile-menu-toggle {
  margin-top: 10px;
}
.mobile-menu-toggle img {
  width: 40px;
  height: 40px;
}
.mobile-nav {
  background-color: rgba(11, 22, 24, 0.9);
  text-align: left;
  align-items: center;
  /* Centers the element and moves it 5% from the top */
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  min-width: 360px;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
}
.mobile-nav a {
  display: block;
  width: 100%;
}
.mobile-nav #closeBtn {
  position: absolute;
  width: 30px;
  height: auto;
  top: 20px;
  right: 20px;
}
.mobile-nav .menu {
  width: 100%;
  padding: 10px;
}
.mobile-nav .menu .nav-item {
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: url;
  width: 80%;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, white, transparent);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  position: relative;
}
.mobile-nav .menu .lang-menu {
  height: 1px;
  width: 1px;
  background-color: #0b1618;
}
.mobile-nav .menu #lang-box {
  position: absolute;
  appearance: none;
}
.mobile-nav .menu #lang-box:focus {
  outline: none;
}
.mobile-nav .menu #lang-box:focus ~ .lang-label {
  box-shadow: 0 0 10px 0.5rem rgba(3, 114, 110, 0.5);
}
.mobile-nav .menu #lang-box:checked ~ .lang-label ~ .lang-menu {
  width: fit-content;
  height: auto;
  padding: 10px;
  transition: all 1s ease 0s;
  margin-left: auto;
  gap: 10px;
  align-items: center;
}
.mobile-nav .menu #lang-box:checked ~ .lang-label ~ .lang-menu .lang {
  width: 40px;
}
.mobile-nav .menu .lang-label {
  cursor: pointer;
}
.mobile-nav .menu .lang-label img {
  margin-left: auto;
}
/* Hero */
.hero {
  /* When there is text inside, the label goes up */
}
.hero h2 {
  font-size: 2.5rem;
}
.hero .steps {
  text-align: left;
  margin: 15px 0;
}
.hero .input-wrapper {
  position: relative;
  background-color: #03726e;
  width: 85%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 50px;
  margin-top: 40px;
}
.hero #url-input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 50px;
  transition: box-shadow 0.5s;
  /* When there is not text in the input, place the label inside */
}
.hero #url-input:placeholder-shown ~ .url-label {
  cursor: text;
  top: 13px;
  color: #bbb;
}
.hero .url-label {
  position: absolute;
  top: -26px;
  left: 100px;
  display: block;
  transition: 0.3s;
  color: #fff;
}
.hero .url-btn {
  width: 30px;
  height: 30px;
}
